
.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu ul li {
  margin-right: 10px; /* Tạo khoảng cách giữa các mục */
}

.menu ul li:last-child {
  margin-right: 0; /* Loại bỏ khoảng cách bên phải của mục cuối cùng */
}

.menu ul li {
  margin-right: 10px; /* Tạo khoảng cách giữa các mục */
}